* {
    border: 1pt solid black;
    margin: 0;
    padding: 0;
}

body {
    width: 99w;
    height: 98vh;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

section {
    display: grid;
    grid-template-columns: 25% 75%;
}

@media screen and (max-width: 375px) {
    body {
        background-color: green;
    }
}
/* Teste do Git */