*{
    margin:0;
}

header {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-bottom: solid #FF752B ;
    height: 100px;  

}

.logo {
    /* float:left; */
    /* height: 5%;
    width: 20%; */
    position: fixed;
    left: 0;
    grid-column-start: 1 /1;
    max-height: 100%;
    max-width: 100%;
    overflow:hidden;
    

}
nav {
    grid-column-start: 2;
    grid-row-start: 2;
}

a {
    color:orange;
    text-decoration: none; 
    padding-left: 10vw ;
    color: #ff752b;
 
}

section {
    grid-column-start: 3;
    grid-row-start: 2 ;
}

article {
    background-color: red;
}


footer {
    background-color: #FF752B;
    color:#E6DCDC
}
.footer a {
    color:#E6DCDC;
    text-decoration: none; 
    padding-left: 10vw ;
}